In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("discordDeFiScrape700.csv",encoding = "ISO-8859-1")

,messageID,author_id,author_username,content,timestamp,serverName,channelName,date,time
0,9.495640e+17,1.355640e+17,Zapacheenie,Gas mighty cheap right now,5/3/2022 3:09:44 pm,SushiSwap Community,Price Talk,5/3/2022,3:09:44 PM
1,9.495640e+17,1.355640e+17,Zapacheenie,Learn'd and shided,5/3/2022 3:09:37 pm,SushiSwap Community,Price Talk,5/3/2022,3:09:37 PM
2,9.495090e+17,3.264530e+17,terrarekt,https://tenor.com/view/the-more-you-learn-and-...,5/3/2022 11:30:35 am,SushiSwap Community,Price Talk,5/3/2022,11:30:35 AM
3,9.494940e+17,2.850350e+17,ChronoFury,"bots don't care about fundamentals, they just ...",5/3/2022 10:31:49 am,SushiSwap Community,Price Talk,5/3/2022,10:31:49 AM
4,9.494920e+17,7.884360e+17,WT Wizard,I was thinking same thing. Didn't know if I wa...,5/3/2022 10:23:36 am,SushiSwap Community,Price Talk,5/3/2022,10:23:36 AM
...,...,...,...,...,...,...,...,...,...
585309,7.595970e+17,1.544530e+17,???????????Hiturunk???????????,<@!759594664159871017> It's /in/ the liquidity...,27/9/2020 10:08:48 am,Uniswap,speculation,27/9/2020,10:08:48 AM
585310,7.595970e+17,7.595950e+17,Ivanson,<@154453240535056384> I can see the accured fe...,27/9/2020 10:08:25 am,Uniswap,speculation,27/9/2020,10:08:25 AM
585311,7.595970e+17,1.544530e+17,???????????Hiturunk???????????,"For example, someone trades 1 eth for 200 dai,...",27/9/2020 10:06:47 am,Uniswap,speculation,27/9/2020,10:06:47 AM
585312,7.595970e+17,7.201350e+17,kb,Where v3,27/9/2020 10:06:24 am,Uniswap,speculation,27/9/2020,10:06:24 AM
585313,7.595970e+17,1.544530e+17,???????????Hiturunk???????????,<@!759594664159871017> Fees are always taken i...,27/9/2020 10:06:04 am,Uniswap,speculation,27/9/2020,10:06:04 AM

In [10]:
df= df.dropna()
df3 = df.groupby('author_id').count().reset_index()
df3 = df3.rename(columns={'messageID':'count'})
df3 = df3[['author_id','count']]
df3

          author_id  count
0      4.824210e+16      2
1      4.920250e+16     66
2      5.202580e+16      3
3      5.883390e+16    192
4      5.980060e+16      2
...             ...    ...
35973  9.487430e+17      2
35974  9.487650e+17      1
35975  9.488470e+17      2
35976  9.490380e+17      1
35977  9.493580e+17      2

[35978 rows x 2 columns]

In [11]:
df4 = pd.merge(df,df3,on='author_id')

In [12]:
df4

,messageID,author_id,author_username,content,timestamp,serverName,channelName,date,time,count
0,9.495640e+17,1.355640e+17,Zapacheenie,Gas mighty cheap right now,5/3/2022 3:09:44 pm,SushiSwap Community,Price Talk,5/3/2022,3:09:44 PM,4718
1,9.495640e+17,1.355640e+17,Zapacheenie,Learn'd and shided,5/3/2022 3:09:37 pm,SushiSwap Community,Price Talk,5/3/2022,3:09:37 PM,4718
2,9.494880e+17,1.355640e+17,Zapacheenie,I managed to snag at 2.97,5/3/2022 10:06:20 am,SushiSwap Community,Price Talk,5/3/2022,10:06:20 AM,4718
3,9.490430e+17,1.355640e+17,Zapacheenie,https://tenor.com/view/soon-gif-19121692,4/3/2022 4:39:39 am,SushiSwap Community,Price Talk,4/3/2022,4:39:39 AM,4718
4,9.490430e+17,1.355640e+17,Zapacheenie,One day will again be $10 stablecoin,4/3/2022 4:38:47 am,SushiSwap Community,Price Talk,4/3/2022,4:38:47 AM,4718
...,...,...,...,...,...,...,...,...,...,...
574268,7.596050e+17,7.292820e+17,AnthonyTDEX,"$10 is easy, just wait a bit",27/9/2020 10:40:48 am,Uniswap,speculation,27/9/2020,10:40:48 AM,5
574269,7.596050e+17,7.292820e+17,AnthonyTDEX,soon,27/9/2020 10:40:32 am,Uniswap,speculation,27/9/2020,10:40:32 AM,5
574270,7.596050e+17,7.292820e+17,AnthonyTDEX,$20 per uni,27/9/2020 10:40:15 am,Uniswap,speculation,27/9/2020,10:40:15 AM,5
574271,7.596050e+17,7.292820e+17,AnthonyTDEX,"glad I picked up 30,000 uni at launch",27/9/2020 10:38:15 am,Uniswap,speculation,27/9/2020,10:38:15 AM,5
574272,7.596020e+17,5.412500e+17,Milinaire,<@154453240535056384> what??s your views on N...,27/9/2020 10:28:39 am,Uniswap,speculation,27/9/2020,10:28:39 AM,1

In [20]:
df7 = df4.drop(df4[df4['count'] < 200].index)
df7=df7.drop(df7[df7['author_username'] == 'Deleted User'].index)
df7 = df7[['author_id','author_username','serverName']]
df7

           author_id author_username           serverName
0       1.355640e+17     Zapacheenie  SushiSwap Community
1       1.355640e+17     Zapacheenie  SushiSwap Community
2       1.355640e+17     Zapacheenie  SushiSwap Community
3       1.355640e+17     Zapacheenie  SushiSwap Community
4       1.355640e+17     Zapacheenie  SushiSwap Community
...              ...             ...                  ...
570774  5.670570e+17           Moody              Uniswap
570775  5.670570e+17           Moody              Uniswap
570776  5.670570e+17           Moody              Uniswap
570777  5.670570e+17           Moody              Uniswap
570778  5.670570e+17           Moody              Uniswap

[256264 rows x 3 columns]

In [21]:
df7.to_csv('network_analysis1.csv')

In [ ]:
df3

In [ ]:
df= df.dropna()
df3 = df.groupby('author_id').count().reset_index()
df3 = df3.rename(columns={'messageID':'count'})
df3 = df3[['author_id','count']]
df3

In [6]:
tmp1 = df.drop(df[df['author_username']=='Deleted User'].index)
tmp1 = df.drop(df[df['author_username']=='Deleted User'].index)

In [7]:
tmp1

,messageID,author_id,author_username,content,timestamp,serverName,channelName,date,time
0,9.495640e+17,1.355640e+17,Zapacheenie,Gas mighty cheap right now,5/3/2022 3:09:44 pm,SushiSwap Community,Price Talk,5/3/2022,3:09:44 PM
1,9.495640e+17,1.355640e+17,Zapacheenie,Learn'd and shided,5/3/2022 3:09:37 pm,SushiSwap Community,Price Talk,5/3/2022,3:09:37 PM
2,9.495090e+17,3.264530e+17,terrarekt,https://tenor.com/view/the-more-you-learn-and-...,5/3/2022 11:30:35 am,SushiSwap Community,Price Talk,5/3/2022,11:30:35 AM
3,9.494940e+17,2.850350e+17,ChronoFury,"bots don't care about fundamentals, they just ...",5/3/2022 10:31:49 am,SushiSwap Community,Price Talk,5/3/2022,10:31:49 AM
4,9.494920e+17,7.884360e+17,WT Wizard,I was thinking same thing. Didn't know if I wa...,5/3/2022 10:23:36 am,SushiSwap Community,Price Talk,5/3/2022,10:23:36 AM
...,...,...,...,...,...,...,...,...,...
585309,7.595970e+17,1.544530e+17,???????????Hiturunk???????????,<@!759594664159871017> It's /in/ the liquidity...,27/9/2020 10:08:48 am,Uniswap,speculation,27/9/2020,10:08:48 AM
585310,7.595970e+17,7.595950e+17,Ivanson,<@154453240535056384> I can see the accured fe...,27/9/2020 10:08:25 am,Uniswap,speculation,27/9/2020,10:08:25 AM
585311,7.595970e+17,1.544530e+17,???????????Hiturunk???????????,"For example, someone trades 1 eth for 200 dai,...",27/9/2020 10:06:47 am,Uniswap,speculation,27/9/2020,10:06:47 AM
585312,7.595970e+17,7.201350e+17,kb,Where v3,27/9/2020 10:06:24 am,Uniswap,speculation,27/9/2020,10:06:24 AM
585313,7.595970e+17,1.544530e+17,???????????Hiturunk???????????,<@!759594664159871017> Fees are always taken i...,27/9/2020 10:06:04 am,Uniswap,speculation,27/9/2020,10:06:04 AM

df3

In [ ]:
df4 = pd.merge(df,df3,on='author_id')

In [ ]:
df7 = df4.drop(df4[df4['count'] < 100].index)
df7=df4.drop(df4[df4['author_username'] == 'Deleted User'].index)
df7 = df7[['author_id','author_username','serverName']]
df7

In [ ]:
df7.to_csv('network_analysis1.csv')

In [ ]:
user_dict = {}
n = 0
for index, row in df4.iterrows():
    name = row[0].strip('!')
    name = name.strip(' ')
    server = row[1]
    count = row[2]
    if name not in user_dict:
        user_dict[name] = [[server],count]
    else:
        user_dict[name][0].append(server)
        new = user_dict[name][1]+count
        user_dict[name][1]=new
user_dict

In [ ]:
user_dict = {}
n = 0
for index, row in df4.iterrows():
    name = row[0].strip('!')
    name = name.strip(' ')
    server = row[1]
    count = row[2]
    if name not in user_dict:
        user_dict[name] = [[server],count]
    else:
        user_dict[name][0].append(server)
        new = user_dict[name][1]+count
        user_dict[name][1]=new
user_dict

In [ ]:
pd.DataFrame(user_dict)

                              author_username      serverName
0      !                          HA???§????        Compound
1             !                       jason.b         Uniswap
2                        !   Chuck-1 | DeBank  Aave Community
3                        !   Chuck-1 | DeBank        Compound
4                        !   Chuck-1 | DeBank   Curve Finance
...                                       ...             ...
41640                            ¡????????         Uniswap
41641                               ¡?ø?­?  Aave Community
41642                   ¢ÿ??¢ÿ?? ¢ÿ??¢ÿ??¢ÿ??   Curve Finance
41643                            ¥?¥¥¥??ø?¬         Uniswap
41644                      ¥?¥??ñ??¥???¥         Uniswap

[41645 rows x 2 columns]

In [ ]:
user_dict