Find unique tweeters and number of tweets

In [156]:
#imports 
import pandas as pd

In [157]:
#import xlsx as pd
data = pd.read_excel('aave.xlsx',sheet_name='AAVETweets',header=0)

In [158]:
#view data
data.head()

,Date,ID,Content,Username
0,2022-03-05 23:46:39+00:00,1.500257e+18,Swing ðŸš¥ $FLOW ðŸŸ¡ $5.83 $WAVES ðŸŸ¡ $17.0...,quant_coin
1,2022-03-05 23:33:59+00:00,1.500253e+18,@apyfinance All of the folks in this chat are ...,MarkJoh16435560
2,2022-03-05 23:31:11+00:00,1.500253e+18,7/19 âž¡ï¸ Why is this so important for the @...,daic_capital
3,2022-03-05 23:30:15+00:00,1.500252e+18,"Aave $AAVE Price IDR: Rp 1,797,656 Price USD: ...",GetCuan
4,2022-03-05 23:29:38+00:00,1.500252e+18,"$AAVE Was looking for a breakout, but looks w...",Tao_Of_Trading

In [159]:
#remove content and date and id
data = data.drop(['Content','Date','ID'],axis=1)

In [160]:
#new column named community
data['community'] = 'Aave'

In [161]:
#retrieve communities.csv
communities = pd.read_csv('communities.csv')

In [162]:
#append data to communities
communities = communities.append(data)

#communities to csv
communities.to_csv('communities.csv',index=False)

#see unique values of communities
communities.community.unique()

<ipython-input-162-737d3efaa6c5>:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  communities = communities.append(data)

array(['UniSwap', 'SushiSwap', 'MakerDAO', 'Curve Finance', 'Compound',
       'Aave'], dtype=object)